<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>721106970581-a1c67pis3g4ks05ipgmu68vts40i45m9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.721106970581-a1c67pis3g4ks05ipgmu68vts40i45m9</string>
	<key>API_KEY</key>
	<string>AIzaSyDBzOt8_ZojEdxUGzhEtslV9giibew8arM</string>
	<key>GCM_SENDER_ID</key>
	<string>721106970581</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.goncalveshigino.push-app</string>
	<key>PROJECT_ID</key>
	<string>flutter-projects-4956b</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-projects-4956b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:721106970581:ios:98abce7f7ebe05f6f07f5c</string>
</dict>
</plist>